extends ../layout

block content
    a(href='/signup') Registrarse
    br
    h1 Login 
    form(action='/login' method='POST')
        table.table 
            tr
                td
                    label(for='username') Email: 
                td
                    input#username(type='email' name='username' placeholder='Email')
            tr
                td
                    label(for='password') Password: 
                td
                    input#password(type='password' name='password')
            tr
                td 
                td
                    input.btn(type='submit' value='Entrar')
    pre #{info != undefined ? info.message : null}
    pre #{information != undefined ? information : null}