extends ../layout 

block content
    a(href='/bicicletas') Regresar
    br
    br
    h1 Bicicleta no disponible 
    br
    br
    h2 La bicicleta con código #{codigo} 
    h2 Ya se encuentra reservada en los días solicitados